<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathe.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Organic Planting"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tela2" />
        <activity android:name=".Hprimavera" />
        <activity android:name=".mostarda" />
        <activity android:name=".Hverao" />
        <activity android:name=".Houtono" />
        <activity android:name=".Hinverno" />
        <activity android:name=".beterraba" />
        <activity android:name=".mostardaVerao" />
        <activity android:name=".abobora1" />
        <activity android:name=".agriao" />
        <activity android:name=".berinjela1" />
        <activity android:name=".cenoura1" />
        <activity android:name=".melancia1" />
        <activity android:name=".pimentao1" />
        <activity android:name=".tomate1" />
        <activity android:name=".rabanete" />
        <activity android:name=".coentro" />
        <activity android:name=".cebolinha1" />
        <activity android:name=".rucula" />
        <activity android:name=".espinafre" />
        <activity android:name=".salsa" />
        <activity android:name=".Cpragas" />
        <activity android:name=".cebolinhaInverno" />
        <activity android:name=".Linsumos" />
        <activity android:name=".composteira" />
        <activity android:name=".npk" />
        <activity android:name=".borraCafe" />
        <activity android:name=".ervilha" />
        <activity android:name=".agriao_inverno" />
        <activity android:name=".acelga" />
        <activity android:name=".aipo" />
        <activity android:name=".rucula_outono" />
        <activity android:name=".agriao_outono" />
        <activity android:name=".almeirao" />
        <activity android:name=".repolho" />
        <activity android:name=".cebola" />
        <activity android:name=".couveflor" />
        <activity android:name=".alface" />
        <activity
            android:name=".tabActivity"
            android:label="@string/title_activity_tab"
            android:theme="@style/AppTheme" />
    </application>

</manifest>