<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathe.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tela2" />
        <activity android:name=".tela3" />
        <activity android:name=".tela4" />
        <activity android:name=".Hprimavera" />
        <activity android:name=".pientao2" />
        <activity android:name=".mostarda" />
        <activity android:name=".Hverao" />
        <activity android:name=".Houtono" />
        <activity android:name=".Hinverno" />
        <activity android:name=".beterraba" />
        <activity android:name=".mostardaVerao" />
        <activity android:name=".abobora1" />
        <activity android:name=".agriao" />
        <activity android:name=".berinjela1" />
        <activity android:name=".cenoura1" />
        <activity android:name=".melancia1" />
        <activity android:name=".pimentao1" />
        <activity android:name=".tomate1" />
        <activity android:name=".rabanete" />
        <activity android:name=".coentro" />
        <activity android:name=".cebolinha1" />
        <activity android:name=".rucula" />
        <activity android:name=".salsa" />
        <activity android:name=".espinafre"></activity>
    </application>

</manifest>